<!-- <div *ngIf="authLoaded">
    <div *ngIf="!isLogging">
   <div class="row">
        <div class="col-lg-12">
            <div class="text-center">   
                <img routerLink="/login" src="https://s24.postimg.org/s5falaz9h/cropped_favicon3_192x192.png" class="img-circle my-logo" width="250vh" height="250vh" alt="ProfiCredit">          
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center" style="text-shadow: 2px 2px grey;">
                <h1><strong>Добре Дошли</strong></h1>
            </div>
        </div>
    </div>
    <br>
<div class="text-center" *ngIf="winAuth">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <button class="btn-lg btn-success" (click)="GetToken()">Вход като: <strong>{{winAuth.Name}}</strong></button>
            </div>
        </div>
    </div>   
    <hr>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <button class="btn-lg btn-active" (click)="LoginWithOtherAccount()"><strong>Вход с друг акаунт</strong></button>
            </div>
        </div>
    </div>   
</div>
<br>
<div class="text-center" *ngIf="!winAuth">
    <div class="row text-center">
        <div class="col-12">
            <div class="text-center">
                <strong>Име:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><input type="text" [(ngModel)]="credentials.UserName" id="username" (keyup)="keyDownFunction($event)">
            </div>
        </div>
    </div>
    <br>
    <div class="row text-center">
        <div class="col-12">
            <div class="text-center">
                <strong>Парола:&nbsp;</strong><input type="password" [(ngModel)]="credentials.Password" id="password" (keyup)="keyDownFunction($event)">
            </div>
        </div>
    </div>
    <br>
     <div class="row text-center">
        <div class="col-12">
            <div class="text-center">
                <button class="btn btn-success" (click)="GetToken()">Вход в системата</button>
                <button class="btn btn-danger"  *ngIf="isDomainAccount" (click)="Back()">Назад</button>
            </div>
        </div>
    </div>
    <div class="row text-center" *ngIf="wrongUserPass">
        <div class="col-12">
            <div class="text-center">
                <p style="color: darkred">Грешно потребителско име или парола!</p>
            </div>
        </div>
    </div>
</div>   
</div>
<div *ngIf="isLogging">
   <div class="text-center">
       <h1><strong>Влизане в системата...</strong></h1>
   </div>
</div>
</div> -->
 <h1><strong>Log in page</strong></h1>