<!-- <h1><strong>Home page</strong></h1>

 <a [routerLink]="[ '/login' ]">Login</a> 
 <app-login-form></app-login-form>

 <p-tabMenu [model]="items"></p-tabMenu>

 <p-menu [model]="items"></p-menu>  -->
<!-- <router-outlet></router-outlet> -->

<div style="background-color: #53739A" class="row">
    <div class="text-right">
        <div class="text-center hoverDiv" title="Търсене" style="display: inline">
            <a (click)="logOut()">
                <!--<i class="large material-icons nav-icon">search</i>-->
                <img src="assets/images/search.png" class="img-responsive nav-icon" alt="">
            </a>
        </div>
        <div class="text-center hoverDiv" title="Съобщения" style="display: inline">
            <a (click)="logOut()" id="Behind">
                <!--<i class="large material-icons nav-icon">notifications</i>-->
                <img src="assets/images/notification.png" class="img-responsive nav-icon" alt="">
            </a>
        </div>
        <div class="text-center hoverDiv" title="Профил" style="display: inline">
            <a (click)="logOut()">
                                    <img src="assets/images/profile.png" class="img-responsive nav-icon" alt="">
                                </a>
        </div>
        <div class="text-center hoverDiv" title="Изход" style="display: inline">
            <a (click)="logOut()">
                <!--<i class="large material-icons nav-icon">power_settings_new</i>-->
                <img src="assets/images/exit.png" class="img-responsive nav-icon" alt="">
            </a>
        </div>
    </div>
</div>
<!-- [class.toggled]="toggled" -->
<div id="wrapper">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" (click)="HideNav()">
            <li>
                <div class="text-center">
                    <a routerLink="/home">
                        <!--<i class="material-icons menu-icon my-icon">home</i>-->
                        <img src="assets/images/home.png" class="img-responsive" alt="">
                        <h5><strong>Home</strong></h5>
                        <hr>
                    </a>
                </div>
                <li>
                    <div class="text-center">
                        <a routerLink="/login" class="text-center">
                            <img src="assets/images/request.png" class="img-responsive" alt="">                      
                            <h5><strong>Login</strong></h5>
                            <hr>
                        </a>
                    </div>
                </li>
                <!-- <li>
                            <div class="text-center">
                                <a routerLink="/settings/settings-list" class="text-center">
                            <img src="assets/images/settings.png" class="img-responsive" alt="">                      
                            <h5><strong>Настройки</strong></h5>
                            <hr>
                        </a>
                            </div>
                        </li>  -->
        </ul>
    </div>
</div>