<div class="container">
  <div id="collapseOne">
    <div class="panel-body">
      <h1 class="text-center"><strong>{{team.name}} Members</strong></h1>
      <div class="row text-center">
        <div class="col-md-12" class="some" *ngFor="let user of users">
          <div class="col-1-4">
            <h3>
            <span class="navbar-left">Position:</span><strong> {{user.positionName}}</strong><br><span class="navbar-left">Username:</span><strong> {{user.username}}</strong><br><span class="navbar-left">First name:</span><strong> {{user.firstName}}</strong><br><span class="navbar-left">Last name:</span><strong> {{user.lastName}}</strong>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>