.container-cat {
  background-color: #E5F8FC;
  opacity: 0.9;
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
  width: 300px;
  height: 300px;

}

hr {
  border : 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width: 250px;
}

.text-center {
  text-align: center;
  margin-top: 100px;
}
