h1 {
    margin-top: 50px;
}

h1, h2, h3, h4, h5, div, p {
    text-align: center;
}
.container {
    color: #3F6F7E;
    max-width: 800px;
}

a {
    text-decoration: underline;
    color: #3F6F7E;
}

h1 {
    text-decoration: underline;
}

.secondTitle {
    font-size: 20px;
}