<div class="container">
  <div id="collapseOne">
    <div class="panel-body">
      <h1 class="text-center"><strong>{{team.name}} Members</strong></h1>
      <div class="row text-center">
        <div class="col-md-12" class="some" *ngFor="let user of users">
          <div class="col-1-4">
            <h3 class="border">
              <span class="navbar-left">Position:<strong> {{user.positionName}}</strong></span><br>
              <span class="navbar-left">Username:<strong> {{user.username}}</strong></span><br>
              <span class="navbar-left">First name:<strong> {{user.firstName}}</strong></span><br>
              <span class="navbar-left">Last name:<strong> {{user.lastName}}</strong></span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>