<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation </span></button>

      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="/home">
          <!-- <i class="material-icons menu-icon my-icon">home</i> -->
          <img src="assets/images/home.png" class="img-responsive" alt="">
          <h5><strong>Home</strong></h5>
          <hr>
        </a>
      </li>
      <li>
        <a routerLink="/aboutus">
          <img src="assets/images/aboutUs.png" class="img-responsive" alt="">
          <h5><strong>About Us</strong></h5>
          <hr>
        </a>
      </li>
      <li>
        <a routerLink="/contactus">
          <img src="assets/images/contactUs.png" class="img-responsive" alt="">
          <h5><strong>Contact Us</strong></h5>
          <hr>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
          <img src="assets/images/profile.png" class="img-responsive" alt="">
          <h5><strong>Profile</strong></h5>
          <hr>
        </a>
      </li>
      <li>
        <a routerLink="/departments">
          <img src="assets/images/contactUs.png" class="img-responsive" alt="">
          <h5><strong>Departments</strong></h5>
          <hr>
        </a>
      </li>
      <li>
        <a routerLink="/logout" class="text-center">
                <img src="assets/images/logout.png" class="img-responsive" alt="">
                <h5><strong>Logout</strong></h5>
                <hr>
            </a>
      </li>
      <li>
        <a routerLink="/login" class="text-center">
                <img src="assets/images/logIn.png" class="img-responsive" alt="">
                <h5><strong>Login</strong></h5>
                <hr>
            </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
